{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="top">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="textEmail">
    <label for="inputEmail" style="margin: 10px;">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div><br>
    <div class="textPassword">
    <label for="inputPassword" style="margin: 10px;">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div><br>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary" type="submit" style="padding: 10px;">
        Sign in
    </button>
  </div>
</form>
    <style>
        .top{
            text-align: center;
        }
        h1 {

            font-size: 40px;
            color: #ffffff;
            padding: 10px;
            font-style: italic;
        }
        body {
            background-color: #2c698d;
        }
        button {
            background-color: #bae8e8;
            color:     #2c698d;
            padding: 10px;
            font-size: 20px;
            border-radius: 12px;
            border: none;
        }
        label[for="inputEmail"] {
            font-size: 30px;
            margin-right: 10px;
            color: white;
            font-style: italic;

        }
        label[for="inputPassword"] {
            font-size: 30px;
            margin-right: 10px;
            color: white;
            font-style: italic;
        }
    </style>
{% endblock %}
