{% extends 'base.html.twig' %}

{% block body %}
    <h2>Place Order</h2>
    <form action="{{ path('order_place') }}" method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Submit Order</button>
        {{ form_end(form) }}
    </form>
    {{ dump(form) }}
{% endblock %}